@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --canvas: 0 0% 100%;
    --fg: 245 32% 15%;

    --muted: 0 0% 93%;
    --muted-fg: 265 12% 50%;

    --primary: 265 27% 22%;
    --primary-fg: 0 0% 100%;

    --destructive: 0 70% 50%;
    --destructive-fg: 210 40% 98%;
  }

  .dark {
    --canvas: 245 32% 15%;
    --fg: 0 0% 100%;

    --muted: 245 28% 16%;
    --muted-fg: 266 16% 80%;

    --primary: 265 41% 31%;
    --primary-fg: 0 0% 100%;

    --destructive: 0 69% 53%;
    --destructive-fg: 210 40% 98%;
  }

}
